<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Veltro</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    
    <!-- TailwindCSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <%- include('header.ejs') %>
</body>
</html>